

.bluemiddle {
    background-color: #039be5;
}

.bluelight {
    background-color: #18befb;
}

.bluelight-grad {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #039be5 75%);
}



ul {
    list-style-type: none;
    padding-left: 15px;
}

a:link {
    text-decoration: none;
}

textarea {
    resize: none;
}