
.carousel-h1 {
    font-size: 55px;
    text-shadow: 0px 0px 15px #000000;
}

.carousel-h3 {
    /*padding-bottom: 230px;*/
    padding-bottom: 23%;
}

.carousel-hr {
    max-width: 550px;
}

.bluelight {
    background-color: #039be5;
}

.bluelight-grad {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #039be5 75%);
}

.footerbar-color {
    height: 250px;
    width: 100%;
    /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
    background: linear-gradient(141deg, #039be5 0%, #1fc8db 51%, #0fb8ad 75%);
    opacity: 1;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}