
/*Navbar*/
.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    border: 0px;
    padding: 0px;
    background-color: transparent;
    /*background-color: #039be5;*/
    transition: all 0.3s ease-in-out;
}

.navavatar {
    float: left;
    margin: 4px 8px;
    border: 2px solid #ffffff;
}

.navbar-default .navbar-brand {
    font-size: 20px;
    color: #ffffff;
}

.navbar-default .navbar-brand:hover {
    color: #efefef;
}

.navbar-default .navbar-nav > li > a {
    font-size: 15px;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #efefef;
}

.navbar-default .navbar-header .recon {
    top: 25px;
    font-size: 13px;
    color: #ffffff;
}

.dropdown-menu > li > a:hover {
    color: #ffffff;
    background-color: #039be5;
}

/*Fin Navbar*/

/*Carousel*/
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .fa-angle-double-left, .carousel-control .fa-angle-double-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-control.right,  .carousel-control.left{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
}

/*Fin de Carousel*/


/*Parallax Seccion*/
section {
    height:600px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
    margin-top: 0px;
}

.bg-1 {
    background: url('../img/parallax/estudios.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
    margin-top: 0px;
}

.bg-2 {
    background: url('../img/parallax/desarrollo.jpg') no-repeat top center fixed;
    color:#fff;
    background-size:cover;
}

.bg-3 {
    background: url('../img/parallax/footerbluedark.jpg') no-repeat bottom center fixed;
    color:#fff;
    background-size:cover;
}

/*Fin de Parallax Seccion*/


/*Footer*/
#footer {
    height: 60px;
    background-color:#585858;
    /*margin-top:50px;*/
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
    color:#efefef;
}

/*Fin del Footer*/